<!DOCTYPE html>
<html lang="bg" class="light">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="assets/favicon.ico" type="image/ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>DP Foods</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        darkMode: "class",
      };
    </script>
  </head>
  <body class="w-full h-full min-h-screen bg-slate-800 p-2 px-10">
    <div class="flex items-center mt-3">
      <img src="assets/logo.png" alt="logo" class="w-16" />
      <h3 class="text-4xl font-bold text-slate-200 ml-3">DP Foods</h3>
    </div>
    <div class="flex justify-center items-center flex-col">
      <h1 class="text-4xl font-bold text-slate-200 mt-10">404</h1>
      <h4 class="text-2xl font-bold text-slate-200 mt-3">
        Страницата не е намерена
      </h4>
    </div>
  </body>
</html>
